

body{
    /*background-size: 70% ;*/
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    height: 100vh;
    margin: 30px;
     /*width: 1200px;*/
    font-family: 'Courier New', Courier, monospace;
}


#intermediaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inferior{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1080px;
}

#inferior img{
    height: 100px;
}

#superior img{
    height: 200px;
}

#intermediaria img{
    height: 90%;
}

#btslogin{
    display: flex;
    justify-content: center;
}

.login{
    background-color: rgba(255, 255, 255, 0.7);
    border: 5px;
    padding: 15px;
    border-radius: 10px;
    color: #0A261E;
    font-weight: bold;

}

.inicio, #cadastrar{
    padding: 5px 16px 5px 15px; 
    border-radius: 15px;
    color: #0A261E; 
    border:none;
    margin: 5px;    
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.inicio:hover, #cadastrar:hover{
    background-color: #7D868C;
    color: #164034; 
}

input{
    border:none;
    border-radius: 7px;
    padding: 3px;
    color: #0A261E;
    font-family: 'Courier New', Courier, monospace;
    width: 200px ;
}

input:focus{
    outline: none;
    color: #164034;
}

input::placeholder{
    color: #164034;
    font-size: 12px
}


